/* .buttoncontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

 }

#rock, #paper, #scissors{
    /* padding: 0;
    border: none;
    background: none; */
    
/* } */
 /* */ */

/* 
.buttoncontainer{
    
    
} */