*{
    font-family: "Roboto", sans-serif;
    font-weight: 100;

}

.playerbuttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    padding-bottom: 0;

 }

 .result{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 50px;
    padding: 20px;
 }

 .score{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
 }

 .reload{
   padding-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
 }